:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #241734;


}

body {
  background-color: #241734;
  color: #2de2e6;
  padding-bottom: 50px;
}

nav {
  background-color: #540d6e;
}

ul {
  list-style-type: none;
}

